.buildpath
.settings/
.project
*.patch
.idea/
.git/
runtime/
vendor/
.phpintel/
.env
.DS_Store
.phpunit*
*.cache
.env.example
.github/
.gitlab-ci.yml
.php-cs-fixer.php
.phpstorm.meta.php
deploy.test.yml
phpstan.neon
Dockerfile
phpunit.xml
bin/